.button{
  display: block;
  margin: auto;
  border: 1px solid black;
  border-radius: 0;
  background-color: blueviolet;
  color: white;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  padding: 5px 15px;
}
.form-range {
  padding: 20px 0;
  &__wrap {
    display: block;
    text-align: center;
  }
  &__field {
    border: 1px solid #959595;
    border-radius: 20px;
    padding: 14px 20px;
    margin-right: 15px;
  }
  .btn {
    margin: 0;
  }
}