@mixin main-theme-font-regular{
  font-family: OpenSansRegular, sans-serif;
  font-weight: normal;
}
/*colors*/
$light-text: #fff;
$main-color: #135fa6;
$btn-main: #cf2317;
$btn-main-hover: #a82217;
$border: #e5e4e4;
/*size text*/
$header-footer-text: 14px;
$small-text: 14px;
$title: 44px;
$subtitle: 30px;
$text: 16px;
$big-number: 56px;
/*indents*/
$padding-screen: 40px;
$padding-first-screen: 160px 0;
$titles: 0 0 20px 0;
/*fonts*/
$regular: OpenSansRegular;
$light: OpenSansLight;
$bold: OpenSansBold;


/*For mobiles*/

/*size text*/
$header-footer-text-mb: 14px;
$title-mb: 26px;
$subtitle-mb: 24px;
$text-mb: 16px;
$big-number-mb: 56px;
/*indents*/
$padding-screen-mb: 40px 10px;
$padding-first-screen-mb: 20px 0;
$titles-mb: 0 0 30px 0;