.footer {
  padding: 10px 0;
  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $light-text;
    font-size: $header-footer-text;
    &--link {
      font-size: $header-footer-text;
      color: $light-text;
      padding-left: 5px;
    }
  }
  &__contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__tel {
    color: $light-text;
  }
  .call-btn {
    border: 1px solid $light-text;
    background: transparent;
    border-radius: 20px;
    margin-left: 20px;
    padding: 7px 20px;
    color: $light-text;
    font-size: $header-footer-text;
    cursor: pointer;
    &:hover {
      background: $btn-main;
      border: 1px solid $btn-main;
      border-radius: 50px;
      color: #fff;
      transition: 0.8s;
    }
  }
}