.what-can {
  padding: $padding-screen;
  /*background-size: 99%;*/
  background-position: center;
  &__title {
    font-size: $title;
    text-align: center;
    font-family: $light;
    margin: 0;
    padding: $titles;
    span {
      font-family: $bold;
    }
  }
  .circles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    span {
      border-top: 2px solid $main-color;
      width: 140px;
      position: relative;
      top: 150px;
    }
    .circle {
      /*width: 30%;*/
      &__num {
        text-align: center;
        background: $main-color;
        border-radius: 50%;
        color: $light-text;
        width: 30px;
        height: 30px;
        position: relative;
        top: 25px;
        border: 5px solid $light-text;
        margin: auto;
        display: flex;
        flex-direction: row;
        &--second {
          top: 5px;
          .num {
            font-size: 20px;
          }
        }
        .num {
          text-align: center;
          margin: auto;
          font-weight: bold;
        }
      }
      &__wrap {
        padding: 80px 20px;
        border: 2px solid $main-color;
        border-radius: 50%;
        width: 250px;
        height: 250px;
        margin: auto;
        box-sizing: border-box;
        &--second {
          padding: 70px 40px;
          margin-top: -20px;
          width: 270px;
          height: 270px;
        }
      }
      &__desc {
        text-align: center;
        &--second {
          font-size: 18px;
        }
      }
    }
  }
}